.asked-questions-container {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 100px;
    background-color: #141414;
    color: #fff;
}

.asked-questions-title {
    font-size: 32px;
    margin: 80px 0 40px;
    text-align: left;
}

.accordion-container {
    margin: 5px auto;
    min-height: 60px;
    padding: 10px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
}

.accordion-summary {
    padding: 10px;
    background-color: #2a2a2a;
    color: #fff;
    cursor: pointer;
}

.accordion-summary span {
    font-size: 18px;
    margin-left: 10px;
}

.accordion-icon {
    color: #fff;
    margin-right: 10px;
    vertical-align: middle;
}

.accordion-details {
    padding: 10px;
    margin-left: 10px;
    background-color: #2a2a2a;
    color: #fff;
    line-height: 1.5;
}

.accordion-details p {
    font-size: 18px;
    text-align: left;
}

