.email-form-container {
    color: #fff;
    text-align: center;
    justify-items: center;
}

.email-container {
    max-width: 600px;
}
  
.email-form-title {
    color: var(--text-color);
    padding: 0 20px;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}
  
.email-form {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin: 0 auto;
    gap: 40px;
    
}

.email-button {
    margin-top: 0px;
    padding: 18px 8px 18px 14px;
    border: none;
    background-color: #e50914;
    color: var(--text-color);
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 99px;
    width: 150px;
}
  
.email-button:hover {
    background-color: #b00610;
    color: var(--text-color);
}

@media (max-width: 1024px) {
    .email-input {
      border-radius: 9999px;
      margin: 0;
      flex: 1;
    }
  
    .email-button {
      margin-top: 0;
      margin-left: 0.5rem;
      border-radius: 9999px;
    }
}

@media (max-width: 768px) {
    .email-form {
        flex-direction: column;
        align-items: center;
    }

    .email-button {
        margin-top: 10px;
        margin-left: 0.5rem;
        border-radius: 9999px;
    }

}