.footer {
    width: 80%;
    margin-top: 40px;
    margin-left: 8%;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 40px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: left;
}
  
.footer a {
    color: #999;
    text-decoration: underline;
}
  
.footer a:hover {
    color: #fff;
}
  
.footer-top {
    margin-bottom: 20px;
}
  
.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
  
.footer-links ul {
    list-style: none;
    padding: 0;
}
  
.footer-links li {
    margin-bottom: 10px;
}
  
.footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.footer-bottom select {
    background: #000;
    color: #fff;
    border: 1px solid #333;
    padding: 5px;
}

/* Mobile: 1 cột */
@media (max-width: 768px) {
    .footer {
      margin-left: 5%;
      padding: 20px;
      font-size: 14px;
    }
  
    .footer-links {
      flex-direction: column;
      gap: 20px;
    }
  
    .footer-links ul {
      width: 100%;
    }
  
    .footer-top {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .footer-bottom {
      align-items: flex-start;
    }
  }
  
  /* Tablet: 2 cột */
  @media (max-width: 1024px) {
    .footer-links {
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-between;
    }
  
    .footer-links ul {
      width: 45%; /* mỗi cột chiếm 45% */
    }
  }
  