.login-page .navbar {
   background-color: transparent;
}


.background {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/assets/the_netflix_login_background.jpg') no-repeat center center ;
    background-size: cover;
    justify-content: center;   
    height: 130vh;
    align-items:center;                   
}


.background .navbar {
    height: 90px;
}

.navbar .logo-link img {
    padding: 20px;
    height: 120px;
    object-fit: contain;
}

.login {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff; 
    display: flex;
    justify-content: center;   
    align-items:center;       
    height: 100vh;             
    margin: 0;
}

  
.login-container {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px 68px 40px;
    border-radius: 4px;
    max-width: 450px; 
    box-sizing: border-box;
    text-align: left;
}
  
.login-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
  
.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #e50914;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 16px;
}

.btn-login:hover {
    background-color: #cc2129;
}
  
.divider {
    text-align: center;
    color: #b8b8b8;
    margin-bottom: 16px;
}
  
.btn-code {
    width: 100%;
    padding: 10px;
    background-color: #666;
    border: none;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 14px;
    cursor: pointer;
}
  
.forgot-password {
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
    display: block;
    margin-bottom: 14px;
}

.forgot-password:hover {
    color: #aaa;
}
  
.login-container .terms{
    color: #aaa;
    font-size: 16px;
    margin-bottom: 5px;
}
 
.signup-text {
    font-size: 16px;
    color: #aaa;
    margin: 0;
}
  
.signup-text a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
  
.captcha-note {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}
  
.captcha-note a {
    color: #0071eb;
    text-decoration: underline;
}
  