.movie-list {   
    width: 95%;
    height: 450px;
    color: rgb(255, 255, 255);
    text-align: left;
}

.movie-list h2{
    font-size: 32px;
    margin-top: 50px;
    margin-left: 10%;
}

.movie-list-controls {
    margin: 30px 0 50px 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.movie-slider-wrapper {
    overflow: hidden;
    flex: 1;
}

.movie-slider {
    display: flex;
    padding: 40px 0;
    gap: 18px;
    width: auto;
}

.movie-slide {
    width: calc(100% / 7);
    flex-shrink: 0;
    padding: 0 8px; /* khoảng cách giữa các phim */
    box-sizing: border-box;
}


.movie-item {
    width: 150px;
}

.movie-item img {
    width: 150px;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.movie-item img:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

.prev-button,
.next-button {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s ease; 
}

.prev-button:hover,
.next-button:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

@media (max-width: 1024px) {  
    .movie-slide {   
        flex-shrink: 0;
        padding: 0 8px; /* khoảng cách giữa các phim */
        box-sizing: border-box;
    }
}

@media (max-width: 768px) {
    .movie-slide {
        flex-shrink: 0;
        padding: 0 8px; /* khoảng cách giữa các phim */
        box-sizing: border-box;
    }

}