.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #141414;
    position: sticky;
    top: 0px;
    z-index: 10;
    height: 80px;
    padding: 10px 40px;
}
  
.logo {
    width: 80px;
    margin-left: 20px;
    height: 80px;

}
  
.nav-links .nav-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.nav-links .nav-link:hover{
    color: #f23737;
}