.person-info-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.person-info-main {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.person-left {
    width: 300px;
    margin: 20px;
}

.person-infor-content {
    margin-top: 20px;
}

.person-infor-content p {
    font-size: 16px;
    text-align: left;
    
}

.person-right {
    flex: 1;
}

.person-title2 {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #d85959;
}

.person-title1 {
    display: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #d85959;
}



strong {
    color: #d85959;
    font-size: 18px;
}

.biography-text {
    margin-left: -10px;
    margin-top: -20px;
    font-size: 16px;
    line-height: 1.8;
    color: var(--text-color);
    text-align: justify;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    
}


.person-acting h3 {
    font-size: 22px;
    text-align: left;
    margin-left: 60px;
}

.person-acting {
    margin: 40px 40px 40px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: -10px -10px 20px rgba(206, 197, 197, 0.4);
}

.acting-year-group {
    margin-bottom: 24px;
    border-top: 1px solid #eee;
}

.acting-row-group {
    display: flex;
    align-items: flex-start;
}

/* Năm bên trái */
.acting-year {
    min-width: 80px;
    text-align: right;
    margin: 25px 15px 0;
}

.acting-year h4 {
    margin: 0;
    font-size: 18px;
    color: var(--text-color);
}

/* Danh sách phim bên phải */
.acting-movie-list {
    flex: 1;
    padding: 12px;
}

.acting-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.acting-item {
    margin-bottom: 8px;
    text-align: left;
    padding-left: 15px;
    border-left: 1px solid #eee;
}

.acting-title a {
    font-weight: 500;
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
}

.acting-title a:hover {
    text-decoration: underline;
    color: #3b26f5;
}

.acting-character {
    display: block;
    color: #777;
    font-size: 14px;
    margin-top: 2px;
}

@media (max-width: 768px) {
    .person-title1 {
        display: flex;
    }

    .person-title2 {
        display: none;
    }

    .person-info-main {
      flex-direction: column;
      align-items: center;
    }
  
    .person-left {
      width: 100%;
      margin: 0;
    }
  
    .person-infor-content p {
      font-size: 14px;
    }
  
    .biography-text {
      font-size: 14px;
      padding: 10px;
    }
  
    .acting-title a {
      font-size: 16px;
    }
  
    .person-title {
      font-size: 24px;
      text-align: center;
    }
  }
  